#__result {
	font-size:12px;
	padding: .5rem .3rem;
  background: white;
  margin: 5px;
}

.w::after {
  content: '\2605';
  top: 0px;
  color: gold
}

.c:before {
  content: '\2B24';
  padding-right: 5px;
}

/*.cc:before {
  content: '📄';
  padding-right: 5px;
}*/

.ready {
  color: rgb(0, 150, 0);
}

.attacked {
  color: rgb(150, 150, 0);
}

.defeated {
  color: rgb(150, 0, 0);
}

.n4:before {
  color: rgb(255,0,0);
}

.n3:before {
  color: rgb(255,64,0);
}

.n2:before {
  color: rgb(255,128,0);
}

.n1:before {
  color: rgb(255,192,0);
}

.n0:before {
  color: rgb(255,255,0);
}

.n-1:before {
  color: rgb(192,255,0);
}

.n-2:before {
  color: rgb(128,255,0);
}

.n-3:before {
  color: rgb(64,255,0);
}

.n-4:before {
  color: rgb(0,255,0);
}

.tab-pane .row:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.ximg{
    position: fixed;
    top: 0;
    right:0;
    margin: 15px;
    background-color: #30A030;
    border-radius:10px;
    width: 20px;
    height: 20px;
    opacity: 0;
}
.circle:before {
  content: ' \25CF';
  font-size: 200px;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 4s linear 1 forwards;
    animation: fadeinout 4s linear 1 forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
